{% extends 'base.html.twig' %} {% block title %}login {% endblock %} {% block link %}
<link rel="stylesheet" href="{{ asset('/css/login.css')}}"> {% endblock %} {% block body %}

<h1>Connexion</h1>
<form action="{{ path('login') }}" method="post">
    {% if error %}
    <div>{{ error.messageKey | trans(error.messageData, 'security') }}</div>
    {% endif %}

    <center>
        <div class=inf>
            <input class="mai" placeholder="Adresse Mail" required name="_username" type="text">
        </div>

        <div class=esp>
            <input class="mai" placeholder="Password" required name="_password" type="password">
        </div>
        <div class="inp">
            <input type="checkbox" checked="checked">
            <label class="container">Memoriser mon compte</label>
        </div>

        <P>mot de passe oublié ?</P>
        <div>
            <button class="conf" type="submit">Confirmation</button>
        </div>


</form>

<a href="{{ path('register') }}"></a>
Vous ne possedez pas de compte ?Creer un compte</a> {# <a href="{{ path('logout') }}">deconnexion</a> #}
</center> {% endblock %}