
	{% extends 'base.html.twig' %}
	{% block link %}
	<link rel="stylesheet" href="{{ asset('/css/profilModifyPassword.css')}}">
	{% endblock %}
	{% block title %}Profil{% endblock %}

	{% block body %}
	{#{{ dump(member[0].user) }}#}

	<button type="submit" class="modifyProfil-js">Modifier Profil</button>
	<button type="submit" class="modifyPassword-js">Modifier Mot de passe</button>


<div class="display">
	<img width="50px" height="50px" src="{#{{ asset('/avatar/')}}{{member[0].user.avatar}}#}" alt="">
	<p>pseuso :
		{#{{member[0].user.pseudo}}#}</p>
	<p>prenom :
		{#{{member[0].user.username}}#}</p>
	<p>nom de famille :
		{#{{member[0].user.lastname}}#}</p>
	<p>age :
		{#{{age}}#}
		ans</p>

	<p>Bank :
		{#{{member[0].bank}}#}
		€</p>

	{# si c'est null on affiche pas  #}
	{#{% if member[0].phone != null %}#}
		<p>numero :
			{#{{member[0].phone}}#}</p>
	{#{% endif %}#}

	{#{% if member[0].city != null %}#}
		<p>ville :
			{#{{member[0].city}}#}</p>
	{#{% endif %}#}

	{#{% if member[0].address != null %}#}
		<p>addresse :
			{#{{member[0].address}}#}</p>
	{#{% endif %}#}

	{#{% if member[0].postal != null %}#}
		<p>code postal :
			{#{{member[0].postal}}#}</p>
	{#{% endif %}#}
</div>

<div class="formModify">
	{#{{form_start(UserModifyForm)}}#}

	<div class="space">
		{#{% if form_errors(UserModifyForm.username) %}#}
			{#{{form_errors(UserModifyForm.username)}}#}
		{#{% endif %}#}
		{#{{form_widget(UserModifyForm.username, { 'attr': {'class': 'lol'} })}}#}

	</div>

	<div class="space">
		{#{% if form_errors(UserModifyForm.lastname) %}#}
		{#	{{form_errors(UserModifyForm.lastname)}}#}
		{#{% endif %}#}
		{#{{form_widget(UserModifyForm.lastname, { 'attr': {'class': 'lol'}})}}#}
	</div>

	<div class="space">
		{#{% if form_errors(UserModifyForm.pseudo) %}#}
		{#	{{form_errors(UserModifyForm.pseudo)}}#}
	{#	{% endif %}#}
	{#	{{form_widget(UserModifyForm.pseudo,{ 'attr': {'class': 'pd'}})}}#}
	{#	{% if form_errors(UserModifyForm.age) %}#}
	{#		{{form_errors(UserModifyForm.age)}}#}
	{#	{% endif %}#}
{#		{{form_widget(UserModifyForm.age)}}#}
	</div>

    <div class="space">
	{#	{% if form_errors(UserModifyForm.file) %}#}
		{#	{{form_errors(UserModifyForm.file)}}#}
		{#{% endif %}#}
		{#{{form_widget(UserModifyForm.file)}}#}

	</div>

    <button type="submit">Confirmer</button>

	{#{{form_end(UserModifyForm)}}#}
</div>

<div class="password">
<form action="" method="post">
        <input type="password" placeholder="Ancien mot de passe" name="lastPassword"><br>
        <input type="password" placeholder="Nouveau mot de passe" name="newPassword"><br>
        <input type="password" placeholder="Confirmation" name="repeatNewPassword"><br>

        <button type="submit">Confirmer</button>

    </form>
</div>


	<style>

		.display {
			display: block;
		}

		.formModify, .password{
			display: none;
		}
	</style> -->

<div class="container__top">
	<div class="container__top-profile">
		<div class="container__top-profile-img">
			<img src="https://source.unsplash.com/user/erondu" alt="">
		</div>
		<div class="container__top-login">
			<div class="container__top-login-pseudo">
				<h3>Pseudo</h3>
			</div>
			<div class="container__top-login-username">
				<a href="#">Nom</a>
				<a href="#">Prénom</a>
				<a href="#">21 ans</a>
			</div>
		</div>
	</div>
		<div class="container__top-button">
			<button type="submit">Modifier mot de passe</button>
			<button type="submit">Modifier le profil</button>
		</div>
</div>

<div class="container__midl">
	<div class="container__mdl-menu-vertcl">
		<ul>
			<li><a href="#">Général</a></li>
			<li><a href="#">Historique</a></li>
			<li><a href="#">Transactions</a></li>
		</ul>
	</div>
	<div class="container__mdl-menu-horiz">
		<div class="container__mdl-menu-horiz-left">
			<a href="#">Dépot</a>
			<a href="#">Retrait</a>
		</div>
		<div class="container__mdl-menu-horiz-right">
			<a href="#">250.50$</a>
		</div>
	</div>
</div>
<div class="container__bottom">
    <div class="container__bottom-block">
        <input type="password" name="psswrd" id="password" placeholder="Ancien mot de passe">
    </div>
    <div class="container__bottom-block">
        <input type="password" name="psswrd" id="password" placeholder="Nouveau mot de passe">
    </div>
    <div class="container__bottom-block">
        <input type="password" name="psswrd" id="password" placeholder="Confirmation">
    </div>
</div>
	<div class="container__bottom-button">
		<button type="submit">Confirmer</button>
	</div>
</div>



{% endblock %}
{% block js %}
<script>
    var displayBlock = document.querySelector(".display");
    var formModify = document.querySelector(".formModify");
    var password = document.querySelector(".password");

    var modifyProfil = document.querySelector(".modifyProfil-js")
    var modifyPassword = document.querySelector(".modifyPassword-js")

    function displayForm() {
        if (password.classList.contains('display')){
            password.classList.replace('display', 'password');
            formModify.classList.replace('formModify', 'display');
        }
        else if (displayBlock.classList.contains('display')) {
            displayBlock.classList.replace('display', 'formModify');
            formModify.classList.replace('formModify', 'display');
        } else {
            displayBlock.classList.replace('formModify', 'display');
            formModify.classList.replace('display', 'formModify');
        } 
        

    }

    function displayPassword() {
        if (formModify.classList.contains('display')){
            formModify.classList.replace('display', 'formModify');
            password.classList.replace('password', 'display');
        }
        else if (displayBlock.classList.contains('display')) {
            displayBlock.classList.replace('display', 'password');
            password.classList.replace('password', 'display');
        } else {
            displayBlock.classList.replace('password', 'display');
            password.classList.replace('display', 'password');
        }
    }

    modifyProfil.addEventListener('click', displayForm)
    modifyPassword.addEventListener('click', displayPassword)
</script>
{% endblock %}

  
