{% extends 'base.html.twig' %}{% block link %}
<link rel="stylesheet" href="{{ asset('/css/profilHistoric.css')}}"> {% endblock %} {% block title %}ProfilHistoric{% endblock %} 

{% block body %}

	<button type="submit" class="modifyProfil-js">Modifier Profil</button>
	<button type="submit" class="modifyPassword-js">Modifier Mot de passe</button>


<div class="display">
	<img width="50px" height="50px" src="{{ asset('/avatar/')}}{{member[0].user.avatar}}" alt="">
	<p>pseuso :
		{{member[0].user.pseudo}}</p>
	<p>prenom :
		{{member[0].user.username}}</p>
	<p>nom de famille :
		{{member[0].user.lastname}}</p>
	<p>age :
		{{age}}
        ans</p>
        
        {% endblock %}