
	{% extends 'base.html.twig' %}
	{% block link %}
	<link rel="stylesheet" href="{{ asset('/css/profil.css')}}">
	<link rel="stylesheet" href="{{ asset('/css/profilModifyPassword.css')}}">
	<link rel="stylesheet" href="{{ asset('/css/profilHistoric.css')}}">
	{% endblock %}
	{% block title %}Profil{% endblock %}

	{% block body %}
	{{dump(myHistoric)}}
<div class="container__top">
	<div class="container__top-profile">
		<div class="container__top-profile-img">
			<img src="{{ asset('/avatar/')}}{{member.user.avatar}}" alt="">
		</div>
		<div class="container__top-login">
			<div class="container__top-login-pseudo">
				<h3>{{member.user.pseudo}}</h3>
			</div>
			<div class="container__top-login-username">
				<a href="#">{{member.user.username}}</a>
				<a href="#">{{member.user.lastname}}</a>
				<a href="#">{{age}} ans</a>
			</div>
		</div>
	</div>
		<div class="container__top-button">
			<button class="modify-password-js" type="submit">Modifier mot de passe</button>
			<button class="modify-profil-js" type="submit">Modifier le profil</button>
		</div>
</div>

<div class="container__midl">
	<div class="container__mdl-menu-vertcl">
		<ul>
			<li><a href="{{ path('profil') }}">Général</a></li>
			<li class="historic-js"><a href="#">Historique</a></li>
			<li><a href="#">Transactions</a></li>
		</ul>
	</div>
	<div class="container__mdl-menu-horiz">
		<div class="container__mdl-menu-horiz-left">
			<a href="#">Dépot</a>
			<a href="#">Retrait</a>
		</div>
		<div class="container__mdl-menu-horiz-right">
			<a href="#">{{member.bank}} €</a>
		</div>
	</div>
</div>

<div class="container__bottom profil">
	<div class="container__bottom-tabl">

		<div class="container__bottom-tabl-a">
			<h3>Date de naissance</h3>
		</div>
		<div class="container__bottom-tabl-a">
			<h3>Adresse</h3>
		</div>

		<div class="container__bottom-tabl-a">
			<a href="#">{{member.user.age.date|date("d/m/Y")}}</a>
		</div>
		<div class="container__bottom-tabl-a">
			<a href="#">{% if member.address != null %}
		<p>addresse :
			{{member.address}}</p>
	{% endif %}</a>
		</div>
		
		<div class="container__bottom-tabl-a">
			<h3>Adresse mail</h3>
		</div>

		<div class="container__bottom-tabl-a">
			<h3>Ville</h3>
		</div>
		<div class="container__bottom-tabl-a">
			<a href="#">{{member.user.mail}}</a>
		</div>

		<div class="container__bottom-tabl-a">
			<a href="#">{% if member.city != null %}
		<p>ville :
			{{member.city}}</p>
	{% endif %}</a>
		</div>

		<div class="container__bottom-tabl-a">
			<h3>Téléphone</h3>
		</div>

		<div class="container__bottom-tabl-a">
			<h3>Code postal</h3>
		</div>
		<div class="container__bottom-tabl-a">
			<a href="#">{% if member.phone != null %}
		<p>numero :
			{{member.phone}}</p>
	{% endif %}</a>
		</div>
		<div class="container__bottom-tabl-a">
			<a href="#">{% if member.postal != null %}
		<p>code postal :
			{{member.postal}}</p>
	{% endif %}</a>
		</div>
	</div>
</div>

<div class="password display">

<form action="" method="post">
<div class="container__bottom">

    <div class="container__bottom-block">
        <input type="password" placeholder="Ancien mot de passe" name="lastPassword">
    </div>
    <div class="container__bottom-block">
       <input type="password" placeholder="Nouveau mot de passe" name="newPassword">
    </div>
    <div class="container__bottom-block">
         <input type="password" placeholder="Confirmation" name="repeatNewPassword">
    </div>
	
</div>
	<div class="container__bottom-button">
		<button type="submit">Confirmer</button>
	</div>
</form>
</div>

<div class="modify display">
	{{form_start(UserModifyForm)}}
<div class="container__bottom">
	
	<div class="container__bottom-tabl">

		<div class="container__bottom-tabl-a">
			<h3>Date de naissance</h3>
		</div>
		<div class="container__bottom-tabl-a">
			<h3>Prénom</h3>
		</div>

		<div class="container__bottom-tabl-a">
			{% if form_errors(UserModifyForm.age) %}
			{{form_errors(UserModifyForm.age)}}
		{% endif %}
		{{form_widget(UserModifyForm.age)}}
		</div>
		<div class="container__bottom-tabl-a">
			{% if form_errors(UserModifyForm.username) %}
			{{form_errors(UserModifyForm.username)}}
		{% endif %}
		{{form_widget(UserModifyForm.username, { 'attr': {'class': 'lol'} })}}
		</div>
		
		<div class="container__bottom-tabl-a">
			<h3>Nom de famille</h3>
		</div>

		<div class="container__bottom-tabl-a">
			<h3>Pseudo</h3>
		</div>
		<div class="container__bottom-tabl-a">
			{% if form_errors(UserModifyForm.lastname) %}
			{{form_errors(UserModifyForm.lastname)}}
		{% endif %}
		{{form_widget(UserModifyForm.lastname, { 'attr': {'class': 'lol'}})}}
		</div>

		<div class="container__bottom-tabl-a">
			{% if form_errors(UserModifyForm.pseudo) %}
			{{form_errors(UserModifyForm.pseudo)}}
		{% endif %}
		{{form_widget(UserModifyForm.pseudo,{ 'attr': {'class': 'pd'}})}}
		</div>

		<div class="container__bottom-tabl-a">
			<h3>Avatar</h3>
		</div>

		<div class="container__bottom-tabl-a">
			
		</div>
		<div class="container__bottom-tabl-a">
			{% if form_errors(UserModifyForm.file) %}
			{{form_errors(UserModifyForm.file)}}
		{% endif %}
		{{form_widget(UserModifyForm.file)}}
		</div>
		<div class="container__bottom-tabl-a">
			
		</div>
	</div>
	
	<div class="container__bottom-button">
		<button type="submit">Confirmer</button>
	</div>
</div>
{{form_end(UserModifyForm)}}
</div>
<div class="container__btm historic display">
	<div class="container__btm-nm-gm">
	<h3>Nom du jeu</h3>
	<br>
	{% for value in myHistoric %}
	<p>{{value.game.name}}</p>
	{% endfor %}
	</div>

	<div class="container__btm-dt-gm">
	<h3>Date</h3>
	<br>
	{% for value in myHistoric %}
	<p>{{value.date.date|date("d/m/Y")}}</p>
	{% endfor %}
	</div>

	<div class="container__btm-nbr-gm">
	<h3>Nombre de partie</h3>
	<br>
	{% for value in myHistoric %}
	<p>{{value.nbParty}}</p>
	{% endfor %}
	</div>

	<div class="container__btm-gn">
	<h3>Gains</h3>
	<br>
	{% for value in myHistoric %}
	<p>{{value.total - (value.nbParty * 2)}}</p>
	{% endfor %}
	</div>
</div>
<style>
.display{
	display: none;
}
</style>

{% endblock %}
{% block js %}
<script>
    var profil = document.querySelector(".profil");
    var password = document.querySelector(".password");
	var modify = document.querySelector(".modify");
	var historic = document.querySelector(".historic");

	var historicButton = document.querySelector(".historic-js");
    var modifyProfil = document.querySelector(".modify-profil-js")
    var modifyPassword = document.querySelector(".modify-password-js")


    function displayPassword() {
    	if (password.classList.contains('display') && modify.classList.contains('display') && historic.classList.contains('display')) {
            profil.classList.add('display');
            password.classList.remove('display');
        }else if(password.classList.contains('display') && profil.classList.contains('display') && historic.classList.contains('display')){
			modify.classList.add('display');
            password.classList.remove('display');
		} else if(password.classList.contains('display') && profil.classList.contains('display') && modify.classList.contains('display')){
			historic.classList.add('display');
            password.classList.remove('display');
		} else{
			password.classList.add('display');
            profil.classList.remove('display');
		}
    }

	function displayModify() {
    	if (password.classList.contains('display') && modify.classList.contains('display') && historic.classList.contains('display')) {
            profil.classList.add('display');
            modify.classList.remove('display');
        } else if(modify.classList.contains('display') && profil.classList.contains('display') && historic.classList.contains('display')){
			password.classList.add('display');
            modify.classList.remove('display');
		} else if(modify.classList.contains('display') && profil.classList.contains('display') && password.classList.contains('display')){
			historic.classList.add('display');
            modify.classList.remove('display');
		} else{
			modify.classList.add('display');
			profil.classList.remove('display');
		}
    }

	function histo() {
    	if (password.classList.contains('display') && modify.classList.contains('display') && historic.classList.contains('display')) {
            profil.classList.add('display');
            historic.classList.remove('display');
        } else if(modify.classList.contains('display') && profil.classList.contains('display') && historic.classList.contains('display')){
			password.classList.add('display');
            historic.classList.remove('display');
		} else if(password.classList.contains('display') && profil.classList.contains('display') && historic.classList.contains('display')){
			modify.classList.add('display');
			historic.classList.remove('display');
		} else{
			historic.classList.add('display');
			profil.classList.remove('display');
		}
    }


    modifyPassword.addEventListener('click', displayPassword)
	modifyProfil.addEventListener('click', displayModify)
	historicButton.addEventListener('click', histo)
</script>
{% endblock %}

  
