{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}
{% block link %} <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
                 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="{{ asset('/css/userTable.css')}}">

{% endblock %}


{% block body %}


<div class="row">
    <div class="col-sm-4">
        <h3 class="title--left"> Admin </h3>

        <ul class="list-group">
        

            <div id="ad"class="line"></div>


            <div>
                <img class="img--left" src="{{ asset('/img/dashboard.png')}}"  alt="">
                <a href="#" class="list--left">Dashboard</a>
            </div>
            
            <div class="line"></div>

            
            <h5> Jeux </h5>
            <div>

                <img class="img--left" src="{{ asset('/img/dashboard.png')}}"  alt="">
                <a href="#" class="list--left">Jeux</a>
            
            </div>
            

            <div class="line"></div>


            <h5> Utilisateurs </h5>
            <div>

                <img class="img--left" src="{{ asset('/img/tab.png')}}"  alt="">
                <a href="#" class="list--left">Utilisateurs</a>

            </div>

            <div class="line"></div>

        </ul>
    
    </div>

    <div class="col-sm-8">
        <div class="nav--ps">
        
            <div class="p--right">
                <img src="{{ asset('/img/pp.png')}}"  alt="">
                <a href="#" class="pp">profil</a>
            </div>
        
        </div>
        <div class="container">

            <h1> Tableau Utilisateurs </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora laborum reprehenderit doloribus commodi magni aliquid.</p>
        
            <div class="gu"> Gestion Des Utilisateurs </div>

            <div class="tback">
                <div class="nvtable">
                
                    <a href="#" class="st"> Afficher </a>
                
                </div>

                <div class="container">
                    <table class="table table-bordered" >
                        <tbody class="table_body">
                        <tr class="ligne">
                            <td>id</td>
                            <td>Nom</td>
                            <td>Email</td>
                            <td>Age</td>
                            <td>Date de Création</td>
                            <td></td>
                        </tr>

                        <tr class="ligne">
                            <td>id</td>
                            <td>Nom</td>
                            <td>Email</td>
                            <td>Age</td>
                            <td>Date de Création</td>
                            <td></td>
                        </tr>

                        <tr class="ligne">
                            <td>id</td>
                            <td>Nom</td>
                            <td>Email</td>
                            <td>Age</td>
                            <td>Date de Création</td>
                            <td></td>
                        </tr>

                        <tr class="ligne">
                            <td>id</td>
                            <td>Nom</td>
                            <td>Email</td>
                            <td>Age</td>
                            <td>Date de Création</td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            
            </div>
        


        </div>
       
    </div>
    
</div>




{% endblock %}