{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}
{% block link %} <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
                 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

                <link rel="stylesheet" href="{{ asset('/css/sb-admin-2.min.css')}}">
{# <link rel="stylesheet" href="{{ asset('/css/dashboard.css')}}"> #}
<link rel="stylesheet" href="{{ asset('/css/dashboard_member.css')}}">
<link rel="stylesheet" href="{{ asset('/css/userTable.css')}}">

{% endblock %}


{% block body %}

            <h1> Tableau Utilisateurs </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum tempora laborum reprehenderit doloribus commodi magni aliquid.</p>
        
            <div class="gu"> Gestion Des Utilisateurs </div>

            <div class="tback">
                <div class="nvtable">
                
                    <div class="container space">
                            <div class="text">
                                <form method="post" action="">
                                    <p>Afficher
                                        <select size="1" id="liste" name="select">
                                            <option value="5">5</option>
                                            <option value="10" selected>10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                        </select> Entitées <input type="submit" name="submit" class="btn btn-light btn-sm" value="Valider" />
                                    </p>
                                </form>
                            </div>
                    </div>
                </div>

                <div class="container">
                    <table class="table table-bordered" >
                        <tbody class="table_body">
                        <tr class="ligne">
                            <th>id</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Age</th>
                            <th>Date de Création</th>
                            <th>Bank</th>
                            <th></th>
                        </tr>
                        {% for member in members %}
        
                        <tr class="ligne">
                            <td>{{member.id}}</td>
                            <td>{{member.user.pseudo}}</td>
                            <td>{{member.user.mail}}</td>
                            <td>{{member.user.age.date|date("d/m/Y")}}</td>
                            <td>{{member.user.dateU.date|date("d/m/Y")}}</td>
                            <td>{{member.bank}}</td>
                            <td>
                            {% if member.user.isActive == true %}
                            <a href="{{ path('deactivateUser',{'id' : member.user.id}) }}">
                            <img src="{{ asset('/img/trash.png')}}" alt="">
                            </a>
                            {% else %}
                            <a href="{{ path('reactivateUser',{'id' : member.user.id}) }}">
                            <img src="{{ asset('/img/reload.png')}}" alt="">
                            </a>  
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div>
                    <div class="btn-group" id="btn-right" role="group" aria-label="Basic example">

                        <button type="button" class="btn btn-secondary" id="btn-c"> < </button>
                        <button type="button" class="btn btn-secondary" id="btn-c"> 1 </button>
                        <button type="button" class="btn btn-secondary" id="btn-c"> 2 </button>
                        <button type="button" class="btn btn-secondary" id="btn-c"> 3 </button>
                        <button type="button" class="btn btn-secondary" id="btn-c"> 4 </button>
                        <button type="button" class="btn btn-secondary" id="btn-c"> 5 </button>
                        <button type="button" class="btn btn-secondary" id="btn-c"> > </button>
                        
                    </div>

                    <div class="txt-left">

                    <p> Showing 1 to 10 of 57 entries </p>
                
                    </div>
                </div>
                
            </div>
        


        
       

    





{% endblock %}