{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
{# {{dump(game1)}} #}
<p>{{game.name}}</p>
<p>{{game.descriptionG}}</p>
<p>{{game.nbPlay}}</p>
<img width="50px" height="50px" src="{{ asset('/imgGame/')}}{{game.img}}" alt="">
<p>{{game.winningsMax}}</p>
<p>{{note[0].note}}</p>

<form method="post" >
    {% if game1.num1 is defined %}
    <input class="num1-js" name="num1" type="number" value="{{game1.num1}}">
    {% else %}
    <input class="num1-js" name="num1" type="number">
    {% endif %}

    {% if game1.num2 is defined %}
    <input class="num2-js" name="num2" type="number" value="{{game1.num2}}">
    {% else %}
    <input class="num2-js" name="num2" type="number">
    {% endif %}

    {% if game1.num3 is defined %}
    <input class="num3-js" name="num3" type="number" value="{{game1.num3}}">
    {% else %}
    <input class="num3-js" name="num3" type="number">
    {% endif %}
    <button type="submit" class="print-js">Tirer</button>

    {% if member.bank >= 2 %}

    {% if game1.winning is defined %}
    <input class="gains-js" name="winning" type="number" value="{{game1.winning}}">
    {% else %}
    <input class="gains-js" name="winning" type="number">
    {% endif %}

    {% else %}
    <p>il te faut au moins 2 euros pour jouer à ce jeu</p>
    {% endif %}

</form>




{% endblock %}

{% block js %}
<script>

    const print = document.querySelector('.print-js')
    let num1 = document.querySelector('.num1-js')
    let num2 = document.querySelector('.num2-js')
    let num3 = document.querySelector('.num3-js')
    let gains = document.querySelector('.gains-js')


    function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
    }

    function printNum() {
        gains.value = 0
        num1.value = getRandomInt(10)
        num2.value = getRandomInt(10)
        num3.value = getRandomInt(10)
        if(num1.value == num2.value && num1.value == num3.value && num2.value == num3.value){
            gains.value = 100
        } else if(num1.value == num2.value || num1.value == num3.value || num2.value == num3.value){
            if(num1.value > 0 && num1.value <= 5 || num2.value > 0 && num2.value <= 5){
                gains.value = 1
            } else if(num1.value > 5 && num1.value <= 9 || num2.value > 5 && num2.value <= 9){
                gains.value = 4
            } else if(num1.value == 0 || num2.value == 0){
                gains.value = 10
            }
        }
    }

    print.addEventListener('click', printNum)

</script>



{% endblock %}