{% extends 'base.html.twig' %}
{% block link %}
{% if id == 1 %}
<link rel="stylesheet" href="{{ asset('/css/games.css')}}">
{% else %}
    <link rel="stylesheet" href="{{ asset('/css/gamestwo.css')}}">
{% endif %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% endblock %}
{% block title %}Home{% endblock %}

{% block body %}
{% if id == 1 %}

<div class="banner">
    <div class="b">
        <div class="bannerT">
            <h1>Machine à sous </h1>
        </div>
    </div>
</div>

<div class="container space">
    <div class="text">
        <h2>Jackpote </h2>
        <p class="deco">{{ranking[0].winning}} €</p>
    </div>
</div>

<div class="compte">
<form method="post" >
    {% if game1.num1 is defined %}
    <input style="color: #39A448;font-family: Montserrat;
    font-style: normal;
    font-weight: bold; font-size: 44px;
line-height: 83px;" class="num1-js moncercle" name="num1" type="number" value="{{game1.num1}}" readonly>
    {% else %}
    <input style="color: #39A448;font-family: Montserrat;
    font-style: normal;
    font-weight: bold; font-size: 44px;
line-height: 83px;" class="num1-js moncercle" name="num1" type="number" readonly>
    {% endif %}

    {% if game1.num2 is defined %}
    <input style="color: #39A448;font-family: Montserrat;
    font-style: normal;
    font-weight: bold; font-size: 44px;
line-height: 83px;" class="num2-js moncercle" name="num2" type="number" value="{{game1.num2}}" readonly>
    {% else %}
    <input style="color: #39A448;font-family: Montserrat;
    font-style: normal;
    font-weight: bold; font-size: 44px;
line-height: 83px;" class="num2-js moncercle" name="num2" type="number" readonly>
    {% endif %}

    {% if game1.num3 is defined %}
    <input style="color: #39A448;font-family: Montserrat;
    font-style: normal;
    font-weight: bold; font-size: 44px;
line-height: 83px;" class="num3-js moncercle" name="num3" type="number" value="{{game1.num3}}" readonly>
    {% else %}
    <input style="color: #39A448;font-family: Montserrat;
    font-style: normal;
    font-weight: bold; font-size: 44px;
line-height: 83px;" class="num3-js moncercle" name="num3" type="number" readonly>
    {% endif %}
    <div class="botn "><button style="font-family: Montserrat;
font-style: normal;
font-weight: bold; color: #FAFAFA;" type="submit" class="print-js tire">Tirer</button></div>

    {% if member.bank >= 2 %}

    {% if game1.winning is defined %}
    {% if game1.winning != 0 %}
    <input style="color: #39A448;font-family: Montserrat;
    font-style: normal;
    font-weight: bold; font-size: 44px;
    line-height: 83px; border: 1px solid #39A448;" class="gains-js moncercle" name="winning" type="number" value="{{game1.winning}}" readonly>
    {% else %}
    <input style="color: rgb(255, 0, 0);font-family: Montserrat;
    font-style: normal;
    font-weight: bold; font-size: 44px;
    line-height: 83px; border: 1px solid rgb(255, 0, 0);" class="gains-js moncercle" name="winning" type="number" value="{{game1.winning}}" readonly>  
    {% endif %}
    {% else %}
    <input style="border: 1px solid rgb(255, 0, 0);" class="gains-js moncercle" name="winning" type="number" readonly>
    {% endif %}

    {% else %}
    <p>il te faut au moins 2 euros pour jouer à ce jeu</p>
    {% endif %}

</form>
</div>

<ul class="nav nav-tabs space" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color: #929292;">Règle du jeu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color: #929292;">Mon historique</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" style="color: #929292; ">Historique</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="container mt-5">
            <p style="font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 18px;align-items: center;
text-align: justify; display: flex; ">{{game.descriptionG}}</p>
        </div>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
       
        <table class="table">
            <thead class="table_header">
                <tr>
                    <th>Date</th>
                    <th>Nombre de partie jouer</th>
                    <th>Mise</th>
                    <th>Gains</th>
                </tr>
            </thead>
            <tbody class="table_body">
                {% for value in myHistoric %}
                {% if (value.nbParty * 2) - value.total <= 0 %}
                <tr class="bg-success">
                {% else %}
                <tr class="bg-danger">
                {% endif %}
                    <td>{{value.date.date | date("d/m/Y")}}</td>
                    <td>{{value.nbParty}}</td>
                    <td>{{value.nbParty * 2}}</td>
                    <td>{{ value.total - (value.nbParty * 2)}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <table class="table table-sm table-striped">
            <thead class="table_header">
                <tr>
                    <th>Date</th>
                    <th>Id</th>
                    <th>Pseudo</th>
                    <th>Gains</th>
                </tr>
            </thead>
            <tbody class="table_body">
                {% for value in ranking %}
                    <td>{{value.dateR.date | date("d/m/Y")}}</td>
                    <td>{{value.idMember.user.id}}</td>
                    <td>{{value.idMember.user.pseudo}}</td>
                    <td>{{ value.winning}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
    <div class="banner">
    <div class="b">
        <div class="bannerT">
            <h1>Roulette </h1>
        </div>
    </div>
</div>

<div class="container space">
    <div class="text">
        <h2>Jackpote </h2>
        <p class="deco">255654</p>
    </div>

    <div class="deco">
        <div class="moncercle11">
            <p style="color: #FFFFFF;font-family: Montserrat;
        font-style: normal;
        font-weight: bold; font-size: 12px;
        line-height: 15px; margin-top: 10px;">11</p>
        </div>
        <div class="moncercle11">
            <p style="color: #FFFFFF;font-family: Montserrat;
            font-style: normal;
            font-weight: bold; font-size: 12px;
            line-height: 15px; margin-top: 10px;">11</p>
        </div>
        <div class="moncercle12">
            <p style="color: #FFFFFF;font-family: Montserrat;
        font-style: normal;
        font-weight: bold; font-size: 12px;
        line-height: 15px; margin-top: 10px;">12</p>
        </div>
        <div class="moncercle11">
            <p style="color: #FFFFFF;font-family: Montserrat;
        font-style: normal;
        font-weight: bold; font-size: 12px;
        line-height: 15px; margin-top: 10px;">11</p>
        </div>
        <div class="moncercle11">
            <p style="color: #FFFFFF;font-family: Montserrat;
            font-style: normal;
            font-weight: bold; font-size: 12px;
            line-height: 15px; margin-top: 10px; ">11</p>
        </div>
        <div class="moncercle12">
            <p style="color: #FFFFFF;font-family: Montserrat;
        font-style: normal;
        font-weight: bold; font-size: 12px;
        line-height: 15px; margin-top: 10px;">12</p>
        </div>
        <div class="moncercle">
            <p style="color: #FFFFFF;font-family: Montserrat;
        font-style: normal;
        font-weight: bold; font-size: 12px;
        line-height: 15px; margin-top: 10px; ">0</p>
        </div>
        <div class="moncercle11">
            <p style="color: #FFFFFF;font-family: Montserrat;
            font-style: normal;
            font-weight: bold; font-size: 12px;
            line-height: 15px;margin-top: 10px; ">11</p>
        </div>
        <div class="moncercle11">
            <p style="color: #FFFFFF;font-family: Montserrat;
            font-style: normal;
            font-weight: bold; font-size: 12px;
            line-height: 15px;margin-top: 10px;">11</p>
        </div>
        <div class="moncercle12">
            <p style="color: #FFFFFF;font-family: Montserrat;
            font-style: normal;
            font-weight: bold; font-size: 12px;
            line-height: 15px;margin-top: 10px;">12</p>
        </div>
    </div>
</div>

<div class="compte">

    <div class="moncarrer11">
        <p style="color:#FFFFFF;font-family: Montserrat;
    font-style: normal;
    font-weight: bold; font-size: 44px;
line-height: 83px;">11</p>
    </div>
    <div class="moncarrer12">
        <p style="color: #FFFFFF;font-family: Montserrat;
    font-style: normal;
    font-weight: bold;font-size: 44px;
line-height: 83px;">12</p>
    </div>
    <div class="moncarrer11">
        <p style="color: #FFFFFF;font-family: Montserrat;
    font-style: normal;
    font-weight: bold;font-size: 44px;
line-height: 83px;">11</p>
    </div>
    <div class="moncarrer12">
        <p style="color: #FFFFFF;font-family: Montserrat;
    font-style: normal;
    font-weight: bold;font-size: 44px;
line-height: 83px;">12</p>
    </div>
    <div class="moncarrer">
        <p style="color: #FFFFFF;font-family: Montserrat;
    font-style: normal;
    font-weight: bold;font-size: 44px;
line-height: 83px;">0</p>
    </div>
    <div class="moncarrer11">
        <p style="color:#FFFFFF;font-family: Montserrat;
    font-style: normal;
    font-weight: bold; font-size: 44px;
line-height: 83px;">11</p>
    </div>
    <div class="moncarrer12">
        <p style="color: #FFFFFF;font-family: Montserrat;
    font-style: normal;
    font-weight: bold;font-size: 44px;
line-height: 83px;">12</p>
    </div>
    <div class="moncarrer11">
        <p style="color: #FFFFFF;font-family: Montserrat;
    font-style: normal;
    font-weight: bold;font-size: 44px;
line-height: 83px;">11</p>
    </div>
    <div class="moncarrer12">
        <p style="color: #FFFFFF;font-family: Montserrat;
    font-style: normal;
    font-weight: bold;font-size: 44px;
line-height: 83px;">12</p>
    </div>
</div>
<div class="container ip ">
    <div class="cherch">
        <input type="search" name="" id="" class="cherch" placeholder="Mise">
    </div>

    <div class="botn ">
        <button class="red" style="font-family: Montserrat;
    font-style: normal;
    font-weight: bold; color: #FFFFFF; margin : 5px;; width: 97px;
    height: 37px;">Red</button>
    </div>
    <div class="botn ">
        <button class="black" style="font-family: Montserrat;
    font-style: normal;
    font-weight: bold; color: #FFFFFF; margin : 5px; width: 97px;
    height: 37px;">Black</button>
    </div>
    <div class="botn ">
        <button class="zero" style="font-family: Montserrat;
    font-style: normal;
    font-weight: bold; color: #FFFFFF; margin : 5px; width: 97px;
    height: 37px;">0</button>
    </div>
    <div class="spa">
        <div class="btn-group" role="group" aria-label="Basic example" id="btn-r">
            <button type="button " class="btn btn-secondary " style="background:#EDEDED ; border: none;">Min</button>
            <button type=" button " class="btn btn-secondary " style="background:#EDEDED ; border: none;">1/2</button>
            <button type="button " class="btn btn-secondary " style="background:#EDEDED ; border: none;">x2</button>
            <button type="button " class="btn btn-secondary " style="background:#EDEDED ; border: none;">Max</button>
            <button type="button " class="btn btn-secondary " style="background:#EDEDED ; border: none;">Clear</button>
        </div>
    </div>
</div>



<ul class="nav nav-tabs space " id="myTab " role="tablist ">
    <li class="nav-item ">
        <a class="nav-link active " id="home-tab " data-toggle="tab " href="#home " role="tab " aria-controls="home " aria-selected="true " style="color: #929292; ">Règle du jeu</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link " id="profile-tab " data-toggle="tab " href="#profile " role="tab " aria-controls="profile " aria-selected="false " style="color: #929292; ">Mon historique</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link " id="contact-tab " data-toggle="tab " href="#contact " role="tab " aria-controls="contact " aria-selected="false " style="color: #929292; ">Historique</a>
    </li>
</ul>
<div class="tab-content " id="myTabContent ">
    <div class="tab-pane fade show active " id="home " role="tabpanel " aria-labelledby="home-tab ">
        <div class="container mt-5 ">
            <p style="font-family: Montserrat; font-style: normal; font-weight: bold; font-size: 14px; line-height: 18px;align-items: center; text-align: justify; display: flex; ">la Roulette, inventée par Blaise Pascal, est un des jeux les plus populaires des casinos. Très simple et accessible à tous, elle vous propose de deviner la case sur laquelle la bille lancée dans le cylindre va s’arrêter. Sur la Table, le Tapis de Jeu reprend les 37 numéros de la Roulette sur 3 colonnes de 12 cases marquées de 1 à 36, 18 rouges et 18 noires. Le 0 apparaît en vert au-dessus de tout. Sur le côté, d’autres cases indiquent les « Chances simples »
</p>
        </div>
    </div>

    <div class="tab-pane fade " id="profile " role="tabpanel " aria-labelledby="profile-tab ">
        <div class="container mt-5 "></div>
        <table>
            <thead class="table_header ">
                <tr>
                    <th>Date</th>
                    <th>Id</th>
                    <th>Mise</th>
                    <th>Gains</th>
                </tr>
            </thead>
            {#
            <tbody class="table_body ">
                {% for key,value in games %}
                <tr>
                    <td>{{value.winning}}</td>
                    <td>{{value.dateR.date|date("m/d/Y ")}}</td>
                </tr>
                {% endfor %}
            </tbody> #}
        </table>
    </div>
    <div class="tab-pane fade " id="contact " role="tabpanel " aria-labelledby="contact-tab ">...</div>
</div>
{% endif %}



{% endblock %}



{% block js %}
<script>

    const print = document.querySelector('.print-js')
    let num1 = document.querySelector('.num1-js')
    let num2 = document.querySelector('.num2-js')
    let num3 = document.querySelector('.num3-js')
    let gains = document.querySelector('.gains-js')


    function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
    }

    function printNum() {
        gains.value = 0
        num1.value = getRandomInt(10)
        num2.value = getRandomInt(10)
        num3.value = getRandomInt(10)
        if(num1.value == num2.value && num1.value == num3.value && num2.value == num3.value){
            gains.value = 100
        } else if(num1.value == num2.value || num1.value == num3.value || num2.value == num3.value){
            if(num1.value > 0 && num1.value <= 5 || num2.value > 0 && num2.value <= 5){
                gains.value = 1
            } else if(num1.value > 5 && num1.value <= 9 || num2.value > 5 && num2.value <= 9){
                gains.value = 4
            } else if(num1.value == 0 || num2.value == 0){
                gains.value = 10
            }
        }
    }

    print.addEventListener('click', printNum)

</script>



{% endblock %}