{% extends 'base.html.twig' %} {% block link %}
<link rel="stylesheet" href="{{ asset('/css/profil_g.css')}}"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %} {% block title %}Home{% endblock %} {% block body %}
{{dump(games)}}
<div class="banner">
    <div class="b">
        <div class="bannerT">
            <h1>Billionar’Y</h1>
        </div>
        <div class="bannerP">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo maecenas tincidunt ut commodo auctor laoreet in.</h3>
        </div>
    </div>
</div>

<nav class="navbar navbar-dark bg-success">

    <ul>
        <li><a href="#"> Tous les jeux </a></li>
        <li><a href="#"> Meilleurs jeux </a></li>
        <li><a href="#"> Nouveaux jeux </a></li>
        <li><a href="#"> Machine à sous </a></li>
        <li><a href="#"> Jeux de table </a></li>
    </ul>
    <center>
</nav>
<form class="form-inline">
    <div class="recherche">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" style="height: 36px;" type="submit">Search</button>
    </div>
</form>

<div class="photo">
    {% for game in games %}
    <a href="{{ path('game',{'id' : game.id}) }}">
    <div class="categ">
        <img src="{{ asset('imgGame/')}}{{game.img}}" alt="">
        <div class="text">
            <p>{{game.name}}</p>
        </div>
    </div>
</a>
    {% endfor %}
</div>

<style>
li{
    font-size: 10px;
}
</style>




{% endblock %}