{% extends 'base.html.twig' %}

{% block title %}Classement{% endblock %}
{% block link %} <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="{{ asset('/css/ranking_winning.css')}}">

{% endblock %}


{% block body %}
{{dump(app.user)}}
<h1 class="h1 mt-5" > CLASSEMENT DES JOUEURS</h1>
<div class="container mt-5">
    <table>
    <thead class="table_header">
    <tr>
        <th>Rank</th>
        <th>Jeux</th>
        <th>Pseudo</th>
        <th>Gains</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody class="table_body">
        {% for key,value in ranking %}
    <tr>
        <td>{{key + ((id - 1) * 20) + 1}}</td>
        <td>{{value.idGame.name}}</td>
        <td>{{value.idMember.user.pseudo}}</td>
        <td>{{value.winning}}</td>
        <td>{{value.dateR.date|date("m/d/Y")}}</td>
    </tr>
    {% endfor %}
        </tbody>
    </table>

    <div class="switch"> 
    
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
        {% if id == 1 %}
        <a href="{{ path('ranking_winning', {id : 5}) }}" class="btn btn-secondary"><</a> 
        {% else %}
        <a href="{{ path('ranking_winning', {id : id - 1}) }}" class="btn btn-secondary"><</a>
        {% endif %}
        {% for i in 1..5 %}
        <a href="{{ path('ranking_winning', {id : i}) }}" class="btn btn-secondary">{{i}}</a>
        {% endfor %}
        {% if id == 5 %}
        <a href="{{ path('ranking_winning', {id : 1}) }}" class="btn btn-secondary">></a> 
        {% else %}
        <a href="{{ path('ranking_winning', {id : id + 1}) }}" class="btn btn-secondary">></a>
        {% endif %}
        </div>
    </div>

</div>



<br>
<br>


{% endblock %}
