<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billonar'Y</title>
    <link rel="stylesheet" href="{{ asset('/css/navbar.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block link %}{% endblock %}
</head>
<body>
    <header>
		 


								<!-- navbar -->

<div class="overlay"></div>

<header class="header__main">
	<div class="header__logo">
		<img src="/img/logo.png" alt="Netflix">
	</div>

	<div class="nav-list-container">
	<nav class="header__nav">
		<ul class="nav__list">
			<li class="nav__item"><a href="{{ path('home') }}">Accueil</a></li>
			<li class="nav__item"><a href="{{ path('games') }}">Jeux</a></li>
			<li class="nav__item"><a href="{{ path('ranking_winning',{'id' : 1}) }}">Top joueurs</a></li>
			<li class="nav__item">

				<div class="nav-item-container">
					<div class="nav-item-img">
						<img src="https://source.unsplash.com/user/erondu" alt="">
					</div>
					<div class="nav-item-login">
						<div class="nav-item-pseudo">
							pseudo
						</div>
						<div class="nav-item-credits">
							180$
						</div>
					</div>
					<div class="nav-item-container__wrapper">
						<div class="item-container-profile">
							
									<ul>
										profil
									<li>Modifier le profil</li>
									<li>Dépot d'argent</li>
									<li>Retrait d'argent</li>
								
									<li>Mon historique</li>
									<li>Mes transactions</li>
									<li>Déconnexion</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</nav>
	</div>
</header>
	</header>
	{# message erreur et success #}
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('errors') %}
        <div class="alert alert-danger">{{ message}}</div>
        {% endfor %} {# end message erreur et success #}
	{% block body %}{% endblock %}
</body>

<!-- {# Début du footer  #}
<footer class="page-footer font-small blue pt-4">

	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left">
  
	  <!-- Grid row -->
	  <div class="row">
  
		<!-- Grid column -->
		<div class="col-md-6 mt-md-0 mt-3">
		  <!-- Copyright -->
	<div class="footer-copyright text-center py-3">© © 2020, <a href="">Billionar'Y.com.</a> Tous droits reservés. 
		<a href="https://mdbootstrap.com/education/bootstrap/"> </a>
	  </div>
	</div>
		<hr class="clearfix w-100 d-md-none pb-3">
  
		<div class="col-md-3 mb-md-0 mb-3">
		</div>
		<div class="col-md-3 mb-md-0 mb-3">
  
			<div class="list__footer">
		  <ul class="list-unstyled">
			<li>
			  <p>Politique de confidentialité</p>
			</li>
			<li>
			  <p>Mentions légales</p>
			</li>
			<li>
			  <p>Contact</p>
			</li>
		  </ul>
		</div>
		</div>
		<!-- Grid column -->
	  </div>
	  <!-- Grid row -->
	</div>
	<!-- Footer Links -->
  </footer> 

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{{ asset('/js/navbar.js')}}"></script>
{% block js %}{% endblock %}  
</html>
